<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Coach蔻驰</title>
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="x5-fullscreen" content="true">
    <meta name="full-screen" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <link rel="stylesheet" type="text/css" href="../src/dist/css/style.css"/>
    <script src="http://kenzowechat.samesamechina.com/weixin/jssdkforsite?debug=1"></script>
    <script src="../src/assets/js/lib/zepto.min.js"></script>
    <script src="../src/assets/js/lib/pre-loader.js"></script>
    <script src="../src/assets/js/rem.js"></script>
    <script src="../src/assets/js/productjson.js"></script>
    <script src="../src/assets/js/common.js"></script>
    <!--<script src="../src/assets/js/api.js"></script>-->
    <!--<script src="../src/assets/js/wxshare.js"></script>-->
    <script src="../src/assets/js/productlist.js"></script>
</head>
<body class="page-productlist">
<div id="orientLayer" class="mod-orient-layer">
    <div class="mod-orient-layer__content">
        <i class="icon mod-orient-layer__icon-orient"></i>
        <div class="mod-orient-layer__desc">请在解锁模式下使用竖屏浏览</div>
    </div>
</div>
<!--<div class="preload">-->
<!--<div class="loading-num">-->
<!--...<span class="num">10</span>%-->
<!--</div>-->
<!--</div>-->
<!--main content-->
<!-- 已关注 -->
<div class="wrapper animate" id="product-list-wrap">
    <div class="logo">
        <img src="../src/dist/images/logo.png" alt="coach"/>
    </div>
    <div class="star-1">
        <img src="../src/dist/images/star-1.png" alt="coach"/>
    </div>
    <ul class="product-list">
        <li class="item item-1">
            <div class="p-img">
                <img src="../src/dist/images/product/p-1.png" alt="coach"/>
            </div>
            <div class="p-name">Dinky Crossbody</div>
            <div class="p-price">RMB 4,950</div>
            <div class="p-btn">
                    <span class="btn btn-buy">
                        <a href="#">立即选购</a>
                    </span>
                <span class="btn btn-tang">唐嫣同款搭配</span>
            </div>
        </li>
        <li class="item item-1">
            <div class="p-img">
                <img src="../src/dist/images/product/p-1.png" alt="coach"/>
            </div>
            <div class="p-name">Dinky Crossbody</div>
            <div class="p-price">RMB 4,950</div>
            <div class="p-btn">
                    <span class="btn btn-buy">
                        <a href="#">立即选购</a>
                    </span>
                <span class="btn btn-tang">唐嫣同款搭配</span>
            </div>
        </li>
        <li class="item item-1">
            <div class="p-img">
                <img src="../src/dist/images/product/p-1.png" alt="coach"/>
            </div>
            <div class="p-name">Dinky Crossbody</div>
            <div class="p-price">RMB 4,950</div>
            <div class="p-btn">
                    <span class="btn btn-buy">
                        <a href="#">立即选购</a>
                    </span>
                <span class="btn btn-tang">唐嫣同款搭配</span>
            </div>
        </li>
        <li class="item item-1">
            <div class="p-img">
                <img src="../src/dist/images/product/p-1.png" alt="coach"/>
            </div>
            <div class="p-name">Dinky Crossbody</div>
            <div class="p-price">RMB 4,950</div>
            <div class="p-btn">
                    <span class="btn btn-buy">
                        <a href="#">立即选购</a>
                    </span>
                <span class="btn btn-tang">唐嫣同款搭配</span>
            </div>
        </li>
    </ul>
</div>
</body>
</html>